:root {

    /*brand-colors-start*/

    --clr-white: #FFFFFF;
    --clr-black: #2E2E2E;
    --clr-milk: #F8F5F0;
    --clr-gray: #6E6A64;

    /*brand-colors-end*/

}

.white {
    color: var(--clr-white);
}

.black {
    color: var(--clr-black);
}

.milk {
    color: var(--clr-milk);
}

.gray {
    color: var(--clr-gray);
}